header  {    
    display: flex;
    justify-content: initial;
    margin-top: 5em;
    width: 60vw;
}

.headerContent div{
    margin: 10px 0;    
}

.headerContent {
    width: 100%;
}

.headerControls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    width: 100%;
}

.searchInput {
    background: #F5F4F6;
    border: 1px solid #EBEAED;
    border-radius: 5px;
    color: #B1ADB9;
    font: normal normal normal 14px Source Sans Pro;
    height: 30px;
    letter-spacing: 0.4px;
    padding: 5px;
    text-align: left;
}

.searchInput:focus {
    outline: none;
}

.searchCheckBox {
    color: #170C3A;
    font: normal normal normal 14px Source Sans Pro;
    letter-spacing: 0.4px;
    margin-left: 10px;
    text-align: left;
    vertical-align: middle;
}   

.addButton {
    background: #365DF0;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font: normal normal 600 14px Source Sans Pro;
    height: 30px;
    letter-spacing: 0.36px;
    transition: background-color .3s;
    text-align: center;
    width: 100px;
}

.addButton:hover {
    background-color: #2F55CC;   
    cursor: pointer;
}

.addButton:active {
    background-color: #244AA8;   
}