.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.loginForm {    
    display: flex;
    flex-direction: column;
    width: 400px;
}

.loginForm input, button {
    margin: 10px 0;
}


.signInButton {
    background: #365DF0;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font: normal normal 600 14px Source Sans Pro;
    height: 30px;
    letter-spacing: 0.36px;
    transition: background-color .3s;
    text-align: center;
    width: 100%;
}

.signInButton:hover {
    background-color: #2F55CC;   
    cursor: pointer;
}

.signInButton:active {
    background-color: #244AA8;   
}