* {
  font-family: 'Source Sans Pro';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: left;
  font: normal normal 600 42px/50px Source Sans Pro;
  letter-spacing: 0.84px;
  color: #170C3A;
}

h4 {
  text-align: left;
  font: normal normal 600 26px/32px Source Sans Pro;
  letter-spacing: 0.52px;
  color: #170C3A;
}

h5 {
  text-align: left;
  font: normal normal 600 20px/28px Source Sans Pro;
  letter-spacing: 0.52px;
  color: #170C3A;
}

html, body, #root {
  height: 100vh;
}

body {
  background: #ffffff;
  display: flex;
  justify-content: center;
}
